:root{
    --color1: #f72a66;
    --color2:#4d4d4d;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}
/* ======HEADER============ */
.header{
    height: auto;
    display: flex;
    background-color:#8000ff;

    /* align-items: center; */
    align-items: baseline;
    justify-content: space-between;
    padding: 5px 20px ;
}
/* LOGO */
.logo{
    font-size: 40px;
    color: white;
}

/* nav */
.nav{
    display: flex;
    gap: 20px;
    text-transform: uppercase;
}
.nav a{
    color: rgb(255, 255, 255);
}
.nav a:hover{
    color: rgb(39, 39, 39);
}
.nav ion-icon{
    padding-left: 5px;
}

/* CONTACTOS */
#contactos{
    display:none;
}
#contactos:target{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#contactos .caja{
    display: flex;
    position: absolute;
    width: auto;
    height: auto;
    text-align: center;
    background-color: #ff0000;
    flex-direction: column;
    right: 0px;
    transform: translate(-273px ,45px);
    padding: 7px 10px 7px 10px;
    gap: 5px;

}
#contactos .caja a{
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-transform: uppercase;
    color: white;
}
#contactos .caja a:hover{
    color: rgb(77, 77, 77);
}
#contactos .caja::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(calc(-50px),-17px);

    border-right: 8px solid rgb(8, 238, 20,0);
    border-bottom: 17px solid #ff0000;
    border-left: 8px solid rgb(217, 255, 0,0);
}

/* PARA SALIR DE LAS OPCIONES */
.cerrar{
    width: 100%;
    height: 100%;
    position: absolute;
}




/* ======CUERPO============ */
.cuerpo{
    display: flex;
}
.caja{
    background-color: rgb(59, 59, 59);
    color: white;
    width: 350px;
    margin: auto;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}
.caja i{
    position: absolute;
    top: 10px;
    right: 7px;
    font-size: 25px;
    color: rgb(73, 255, 164);
}
.caja h1{
    padding-bottom: 10px;
    text-align: center;
}

.caja img{
    width: 100%;
    /* clip-path: circle(150px); */
    /* clip-path: circle(250px at 50% 0%); */
    /* clip-path: ellipse(150px 100px); */
    /* clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%); */
    /* clip-path: ellipse(300px 300px at 0% 0%); */
    clip-path: path("M 10 80 C 40 10, 65 10, 95 80 S 150 150, 180 80");
    clip-path: path(evenodd,"M 10 80 C 40 10, 65 10, 95 80 S 150 150, 180 80") ;

}

/* ======FOOTER============ */
.footer{
    background-color:#8000ff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    color: white;
}





/* ========================================= */



@media screen and (max-width:650px){
    .header{
    flex-direction: column;
    padding: 0;
    }
    .nav{
        display: flex;
        gap: 20px;
        padding-bottom: 10px;
    }
    
}
